@import "tailwindcss";
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}
@keyframes floatSlow {
  0%,
  100% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-18px) rotate(8deg);
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
.animate-floatSlow {
  animation: floatSlow 9s ease-in-out infinite;
}
.group-hover\:animate-draw:hover {
  animation: draw 1.2s ease forwards;
}
